.sw-admin-menu {
    .sw-sales-channel-menu {
        .sw-admin-menu__sales-channel-search {
            width: 100%;
            padding: 0 30px 12px;

            .sw-field--sales-channel-search {
                margin-bottom: 0;
            }
        }
    }

    &.is--collapsed {
        .sw-admin-menu__sales-channel-search {
            display: none;
        }
    }
}
